div h3 {
  font-size: medium;
}
 nav{
   display: flex;
   justify-content: space-between;
   
 }
 nav a {
   display: inline;
   justify-content: space-around;
   padding: 0px 50px 0px 50px;
   font-size: 20px;
  background: transparent;
  
 }
nav button{
  padding: 0px 10px 0px 10px;
}

 .landmap{
   font-weight: 200;
   font-size: x-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
 }
 .landmap button {
   padding: 5px 10px 5px 10px;
 }
 .navbar {
  background-image: url(images/image2.png);
  height: 700px;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
 }