div h3 {
  font-size: medium;
}
 nav{
   display: flex;
   justify-content: space-between;
   
 }
 nav a {
   display: inline;
   justify-content: space-around;
   padding: 0px 50px 0px 50px;
   font-size: 20px;
  background: transparent;
  
 }
nav button{
  color: aliceblue;
  background-color:orange;
  padding: 1px 2px 1px 2px;
}
 .landmap{
   font-weight: 200;
   font-size: xx-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
   text-align: justify;
   position: absolute;
   top: 40%;
   left: 4%;
  
 }
 .landmap button {
   padding: 5px 10px 5px 10px;
 }
 .navbar {
  background-image: url(images/image2.png);
  height: 500px;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
 }
 .mid1 >h4{
  color: orange;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .mid1 p{
    font-style: italic;
  }
  .mid1 {
    text-align: center;
    background-color: rgb(226, 225, 225);
     }
  h6 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  .boxes {
    background-color: rgb(226, 225, 225);
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .b-one> button{
    color:white;
    background-color: orange;
      }
      .b-two> button{
        color:white;
        background-color: orange;
          }
          .b-three> button{
            color:white;
            background-color: orange;
              }
            .b-one > p{
              font-style: italic;
            }
            .b-two > p{
              font-style: italic;
            }
            .b-three > p{
              font-style: italic;
            }
            .b-one {
              width: 30%;
  border-radius: 20px;
  height: 50%;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  margin-bottom: 3%;
            }
            .description {
              color:white;
             text-align: right;
             position: relative;
             top: 10%;
             left: 2%;
             background-color: black;
            }       
            div>img {
              float: left;
            }
   .booking {
     background-image: url(images/image8.png);
     height: 500px;
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   text-align: center;
   justify-content: center;
   }         
   footer {
     text-align: center;
     color: white;
     top: 50%;
   }