div h3 {
  font-size: medium;
}
 nav{
   display: flex;
   justify-content: space-between;
   
 }
 nav a {
   display: inline;
   justify-content: space-around;
   padding: 0px 50px 0px 50px;
   font-size: 20px;
  background: transparent;
  
 }
nav button{
  color: aliceblue;
  background-color:orange;
  padding: 1px 2px 1px 2px;
}

 .landmap{
   font-weight: 200;
   font-size: xx-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
   text-align: justify;
   position: absolute;
   top: 40%;
   left: 4%;
  
 }
 .landmap button {
   padding: 5px 10px 5px 10px;
 }
 .navbar {
  background-image: url(images/image2.png);
  height: 700px;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
 }
